Деньги вырабатывает шахта (кирка), по 5 монет за ход. Шахты нужно подключить к генератору (молния и плюсик), а генератор - к распределителю энергии (просто молния). При этом, не обязательно подключать вплотную - энергия передается через здания. Печка в текущей версии игры- просто текстура, ее можно поставить, но она бесполезна. Артиллерия не требует подключения к электричеству, и дает 1 выстрел по врагу. Ракета стоит 20000 денежных едениц, закончить игру можно ТОЛЬКО запустив ракету (или нажав Alt + F4). Распределители энергии есть двух уровней - первого (просто молния) - потребляет не мало энергии, но почти ничего не стоит и второго - стоит в 3 раза дороже, но зато потребляет меньше энергии. Если энергия в конце хода упадет ниже 0, то игрок не получает деньги за шахты. За неподключенные к распределителю энергии шахты также не начисляются деньги в конце хода.  
